html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #535353;
}

.clickWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

.App {
  position: absolute;
  width: 72vmin;
  height: calc(83vmin);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.boardTable table {
  width: 72vmin;
  height: 72vmin;
  border-collapse: collapse;
  text-align: center;
  color: #DDDDDD;
}

.modal table {
  border-collapse: separate;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #BBBBBB;
}

tr {
  width: 100%;
  height: 8vmin;
  vertical-align: center;
}

td {
  height:30px;
  width:30px;
  font-size: 5vmin;
}

.optionData {
  border-radius: 0.5rem;
}

.optionData:hover {
  background-color: #BBBBBB;
  color: white;
  cursor: pointer;
}

.buttonEvents {
  pointer-events: none;
  user-select: none;
}

.nonclickable {
  pointer-events: none;
  user-select: none;
}

.clickable:hover {
  border-radius: 0.5rem;
  background-color: #656565;
  cursor: pointer;
}

.clicked {
  border-radius: 0;
  background-color: #3D3D3D;
}

.neighbor {
  border-radius: 0;
  background-color: #484848;
}

.yellow {
  color: #FFF7C0;
  border-color: #DDDDDD !important;
  user-select: none;
}

.blue {
  color: #6EC4DB;
  border-color: #DDDDDD !important;
  user-select: none;
}

.topLeft {
  border-top-left-radius: 0.5rem;
}

.topRight {
  border-top-right-radius: 0.5rem;
}

.bottomLeft {
  border-bottom-left-radius: 0.5rem;
}

.bottomRight {
  border-bottom-right-radius: 0.5rem;
}

.boardTable td:nth-child(3n) {
  border-right: solid;
  border-right-width: thick;
}

.boardTable td:last-child {
  border-right: none;
}

.boardTable tr:nth-child(3n) td {
  border-bottom: solid;
  border-bottom-width: thick;
}

.boardTable tr:last-child td {
  border-bottom: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.generateButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: table;
}

.btn {
  padding: 0px 25px;
  margin-top: -3px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
  font-family: "AdamCGPro";
  color: #737373;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 0px 8px 0px 0px #CCC599;
  background: #FFF7C0;
}

.btn:active {
  margin-top: 5px !important;
  box-shadow: 0px 0px 0px 0px #CCC599 !important;
}

.btn:hover {
  margin-top: 0px;
  box-shadow: 0px 5px 0px 0px #CCC599;
}

.btn:focus {
  outline: none;
}

.modal {
  position: relative;
  padding-top: 2vmin;
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
}
