@font-face {
  font-family: 'AdamCGPro';
  font-style: normal;
  font-weight: normal;
  src: local('AdamCGPro'), url('AdamCGPro.otf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'AdamCGPro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
